@import './library.scss';

.App {
  text-align: center;
  margin-top: 100px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container {
  display: inline-block;
  padding: 20px;
  /* box-shadow: 2px 2px 2px darkgray; */
  margin: 20px;
  border-radius: 10px;
  /* background-color: #ededed; */
  max-width: 600px;
}

.liquid-glass {
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  border: none !important;
  color: white !important;
}

.liquid-glass::before,
.liquid-glass::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border-radius: inherit;
  pointer-events: none;
}

.liquid-glass::before {
  box-shadow: inset 0 0 20px -5px white;
  background-color: rgba(255, 255, 255, 0.04);
}

.liquid-glass::after {
  backdrop-filter: blur(2px);
  z-index: -1;
}

.now-playing__text {
  color: white;
}

.now-playing__name {
  font-size: 1.5rem;
  font-weight: bold;  
}

.now-playing__artist {
  font-size: 1rem;
  margin-top: 5px;
  font-weight: lighter;
}

button {
    cursor: pointer;
}

.btn-spotify {
    color: black;
    padding: 12px 24px;
    border-radius: 24px;
    text-decoration: none;
    font-weight: bold;
    border: 2px darkgray solid;
    /* background-color: white; */
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.now-playing__cover {
  width: 200px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px darkgray;
}

.animation__spin {
  animation: spin infinite linear 20s;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* .hole {
  width: 50px;
  height: 50px;
  background-image: url('/images/background-1.jpg');
  border-radius: 100%;
  position: absolute;
  backdrop-filter: blur(2px);
      box-shadow: inset 0 0 20px -5px white;
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
} */

.now-playing__side {
  margin-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls button {
  margin: 10px;
}

.volume-control {
  width: 95%;
  accent-color: #4A70A9;
}

.footer-container {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
  justify-self: center;
}

@media screen and (max-width: 600px) {
  .content-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  } 
}